= modal(id: 'turbo-confirm', title: 'Are you sure?', hidden: true, closable: false) do
  %form{ method: 'dialog' }
    %p This action can't be undone!
    %div.flex.gap-2.mt-4
      %button.secondary-button{ value: 'cancel' } Cancel
      %button.danger-button{ value: 'confirm' } Confirm
