.w-52.h-52.group.mx-auto.border-2.border-dashed.border-zinc-800.rounded-xl.grid.place-items-center.cursor-pointer
  %p.text-sm.text-semibold
    = icon 'cloud-arrow-up', variant: 'solid', class: 'w-16 mx-auto text-zinc-800 group-hover:scale-120 transition duration-300'
    %span Upload images or videos
