.absolute.top-8.bottom-8.left-64.right-64.rounded-lg{ class: 'backdrop-blur-md bg-gradient-to-b from-white/10 to-white/50 shadow-lg ring-1 ring-black/10' }
  .flex.flex-col.h-full.px-8.py-6
    = render 'shared/header'
    .flex-1
      .flex.gap-12.h-full
        = render 'shared/sidebar'
        = render 'shared/main_container'

= render 'modals/new_album_modal'
